/* 动画 */
.turn-on-enter {
    transform: translate3d(100%, 0, 0);
}

.turn-on-enter-active, .turn-on-leave-active {
    transition: transform 0.4s ease;
}

.turn-off-leave-to {
    transform: translate3d(100%, 0, 0);
}

.turn-off-enter-active, .turn-off-leave-active {
    transition: transform 0.4s ease;
}

.turn-off-leave-active {
    z-index: 2;
}

.fadeIn-enter {
    -webkit-animation: fadeIn .2s ease;
    animation: fadeIn .2s ease;
}

.fadeIn-enter-active {
    -webkit-animation: fadeIn .2s ease;
    animation: fadeIn .2s ease;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
